.row-header {
    margin: 0px auto;
    padding: 0px 0px; }
  
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    min-height: 100px; }
  
.footer {
    background-color: #340926;
    color: #F033B4;
    margin: 0px auto;
    padding: 20px 0px; }
  
.jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background-color: #F033B4;
    color: floralwhite; }
  
address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f; }
  
body {
    padding: 0px 0px 0px 0px;
    background-color: #FDDEF3;
    z-index: 0; }
  
.navbar-dark {
        background-color: #510639; 
        color: #F033B4;
    }
.formbody-light
{
    background-color: #FDDEF3;
}


.modal-header {
    background-color: #510639;
    color: #F033B4; }
    .modal-header .close {
      color: #F033B4; }
  
  .modal-body {
    background-color: #FDDEF3; }
  .modal-footer{
    background-color: #FDDEF3;
  }

a { color: inherit; } 